name: example-workflow
on: [push]
jobs:
  build-android:
    if: github.repository == 'konradhanus/inheartive.io'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: yarn install
      - run: npm install -g nx
      - run: nx run mobile:build-android